.container {
  margin-bottom: 30px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sort {
  display: flex;
  align-items: center;
  gap: 10px;
}
