.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color);
  border-radius: 4px;

  justify-content: center;
  align-items: start;
  width: 100%;
  padding: 20px;
  background-color: aliceblue;

  overflow: hidden;
}

.title {
  margin-bottom: 20px;
}

.inputContainer {
  flex: 1;
}

.label {
  font-size: 12px;
}

.input {
  width: 100%;
  padding: 9px 6px;
  appearance: none;
  border: 1px solid var(--border-color);
  border-radius: 4px;

  resize: vertical;

  &::placeholder {
    color: var(--border-color);
  }
}

.description {
  width: 80%;
}

.days {
  width: 60px;
}

.details {
  display: flex;
  gap: 20px;
}

.button {
  background-color: var(--mint-color);
  color: white;
}

.select {
  width: 100%;
  padding: 9px 6px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.price {
  margin-bottom: 20px;
}

.error {
  height: 10px;
  color: red;
  font-size: 10px;
}
