.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  justify-content: center;
  align-items: start;
  width: 100%;
  padding: 20px;
  background-color: aliceblue;
}

.inputContainer {
  flex: 1;
}

.label {
  font-size: 12px;
}

.input {
  width: 100%;
  padding: 9px 6px;
  appearance: none;
  border: 1px solid var(--border-color);
  border-radius: 4px;

  &::placeholder {
    color: var(--border-color);
  }
}

.description {
  width: 50%;
}

.days {
  width: 60px;
}

.details {
  display: flex;
  gap: 20px;
}

.button {
  background-color: var(--mint-color);
  color: white;
}

.select {
  width: 100%;
  padding: 9px 6px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.price {
  flex: 1;
}
